@import "lib/_colors";
@import "lib/_fonts";

.btn[type=submit] {
    background-color: $main-inactive;
    color: white;
    width: 100%;
}
.btn[type=submit]:hover {
    background-color: $main-active;
}
label.checked {
    border: 3px solid $main-active;
    border-radius: 7px;
}
.open, .close {
    margin-left: 2%;
    width: 1.7em;
}
.open:hover, .close:hover {
    cursor: pointer;
}
input:focus, .btn[type=submit]:focus {
    box-shadow: 0 0 4px 2px $input-shadow !important; //rgba(82, 204, 0, 0.6)
}
input[readonly] {
	background-color: white !important;
}