<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 categories mb-4">
	<div class="d-flex flex-column p-3 bg-light" id="categories">
		<!--<ul class="nav nav-pills flex-column mb-auto">
	      <li class="nav-item">
	        <a href="#" class="nav-link active" aria-current="page">
	          #real-time Хобби
	        </a>
	      </li>
	      <li class="nav-item">
	        <a href="#" class="nav-link link-dark">
	          #real-time Изменение жизни
	        </a>
	      </li>
	    </ul>-->
	  </div>
</div>