<div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 categories">
	<div class="d-flex flex-column p-3 bg-light">
		<ul class="nav nav-pills flex-column mb-auto">
	      <li class="nav-item">
	        <a href="#" class="nav-link active" aria-current="page">
	          #real-time Хобби
	        </a>
	      </li>
	      <li>
	        <a href="#" class="nav-link link-dark">
	          #real-time Изменение жизни
	        </a>
	      </li>
	    </ul>
	  </div>
</div>