<footer class="footer mt-auto py-4">
  <div class="container px-5">
    <span>my-progress.ru 2022</span>
  </div>
</footer>


<script src="/react/react.development.js"></script>
<script src="/react/react-dom.development.js"></script>
<script src="/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>


<script src="/js/main.js"></script>

{{script page}}
{{categoriesScript categories}}