<!DOCTYPE html>
<html lang="ru-RU" class="h-100">
	<head>
		{{> head}}
	</head>
	<body class="d-flex flex-column h-100">
		<div class="container">
			<div class="row">

				{{> header}}


				{{#if categories}}
					{{> categories}}
				{{/if}}


				{{{body}}}

			</div>
		</div>
		{{> footer-n-scripts}}
	</body>
</html>
