<div class="col-sm-1 col-md-3 col-lg-4"></div>
<div class="col-xs-12 col-sm-10 col-md-6 col-lg-4">
    <div class="text-center">
        <input type="checkbox" class="btn-check" id="btn-check-login">
                <label class="btn shadow-none checked" for="btn-check-login">Войти</label>
                |
                <input type="checkbox" class="btn-check" id="btn-check-registration">
                <label class="btn shadow-none" for="btn-check-registration">Зарегистрироваться</label>
    </div>
  <form class="log pb-4" action="ok" method="post" autocomplete="off">
              <div class="form-group">
                <label for="email-log">Email</label>
                <input type="text" id="email-log" class="form-control" placeholder="Введите email" aria-describedby="emailError-log" name="email" onfocus="this.removeAttribute('readonly');" readonly autocomplete="off">
                <small id="emailError-log" class="form-text text-danger d-none">Email должен быть в таком формате: ivanov@domain.domain</small>
              </div>
              <div class="form-group pb-4">
                <label for="password-log">Пароль</label>
                <div style="display:flex">
                    <input type="password" class="form-control" id="password-log" placeholder="Пароль" aria-describedby="passwordError-log" name="password" onfocus="this.removeAttribute('readonly');" readonly autocomplete="off"><img id="pass-log-open" class="d-none" src="/img/eye.svg"><img id="pass-log-close" src="/img/eye-close.svg">
                </div>
                <small id="passwordError-log" class="form-text text-danger d-none">Пароль должен состоять из минимум 6 символов, может содержать латинские большие и маленькие буквы, цифры и специальные символы: %, *, (, ),?, @, #, $, ~"</small>
              </div>
              <div class="text-center">
                <button type="submit" class="btn" id="submit-log">Подтвердить</button>
                </div>
            </form>
            <form class="d-none reg pb-4" action="ok.php" method="post">
              <div class="form-group">
                <label for="nickname">Ник</label>
                <input type="text" id="nickname" class="form-control" placeholder="Введите ник" aria-described-by="nicknameError-reg" name="nickname" onfocus="this.removeAttribute('readonly');" readonly autocomplete="off">
                <small id="nicknameError-reg" class="form-text text-danger d-none">Ник должен состоять минимум из двух символов</small>
              </div>
              <div class="form-group">
                <label for="email-reg">Email</label>
                <input type="text" id="email-reg" class="form-control" placeholder="Введите email" aria-described-by="emailError-reg" name="email" onfocus="this.removeAttribute('readonly');" readonly autocomplete="off">
                <small id="emailError-reg" class="form-text text-danger d-none">Email должен быть в таком формате: ivanov@domain.domain</small>
              </div>
              <div class="form-group">
                <label for="password-reg">Пароль</label>
                <div style="display:flex">
                    <input type="password" class="form-control" id="password-reg" placeholder="Пароль" aria-described-by="passwordError-reg" name="password" onfocus="this.removeAttribute('readonly');" readonly autocomplete="off"><img id="pass-reg-open" class="d-none" src="/img/eye.svg"><img id="pass-reg-close" src="/img/eye-close.svg">
                </div>
                <small id="passwordError-reg" class="form-text text-danger d-none">Пароль должен состоять из минимум 6 символов, может содержать латинские большие и маленькие буквы, цифры и специальные символы: %, *, (, ),?, @, #, $, ~</small>
              </div>
              <div class="form-group pb-4">
                <label for="password-second">Подтвердить пароль</label>
                <div style="display:flex">
                    <input type="password" class="form-control" id="password-second" placeholder="Подтверждение пароля" aria-described-by="passwordSecondError-reg" onfocus="this.removeAttribute('readonly');" readonly autocomplete="off"><img id="pass-reg-sec-open" class="d-none" src="/img/eye.svg"><img id="pass-reg-sec-close" src="/img/eye-close.svg">
                </div>
                <small id="passwordSecondError-reg" class="form-text text-danger d-none">Пароли должны совпадать!</small>
              </div>
              <div class="text-center">
                <button type="submit" class="btn" id="submit-reg">Подтвердить</button>
                </div>
            </form>
</div>