@font-face {
  font-family: "cheeseusauceu";
  font-style: normal;
  font-display: swap;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("cheeseusauceu"),
  		/* Если не получилось, загрузит woff2 */
       url("/fonts/cheeseusauceu.woff2") format("woff2"),
       /* Если браузер не поддерживает woff2, загрузит woff */
       url("/fonts/cheeseusauceu.woff") format("woff"),
       /* Если не получилось, загрузит ttf */
       url("/fonts/cheeseusauceu.ttf") format("truetype");
  /*unicode-range: U+004D, U+0059, U+002D, U+0050, U+0052, U+004F, U+0047, U+0045, U+0053, U+002E, U+0055;*/
}
header .nav-link.active {
	background-color: MediumSeaGreen !important;
	color: white !important;
}
header .nav-link.active:hover {
	background-color: #4cc381 !important;
}
header .nav-link {
	color:black;
}
header .nav-link:hover {
	color:grey;
}
footer {
	background-color: #DDD;
	color: black;
}
/*.smile {
    width: 1.6em;
}*/
.main-title {
	font-family: "cheeseusauceu", Impact, Charcoal, sans-serif;
	font-size: 1.6em;
	font-weight: bold;
	color: MediumSeaGreen;
	text-align: center;
}
#logo {
	background-image: repeating-linear-gradient(
		90deg,
        MediumSeaGreen 20%,
        #00FA00 40%);
	width: 100%;
    background-size: 200% auto;
    background-position: 0 100%;
    animation: gradient 7.5s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    -webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
@keyframes gradient { 
  0%   { background-position: 0 0; }
  100% { background-position: -200% 0; }
}
#nav {
	text-align: right;
}
#logreg {
	background-color: #1c8341;
	color: white !important;
}
#logreg:hover {
	background-color: #2c9351;
}
@media (max-width: 768px) {
	#nav {
		text-align: center;
	}
	.nav-item {
		margin-bottom: 10px;
	}
	.nav-link {
		font-size: 1.1em;
		margin: auto;
	}
	/*header {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}*/
}
@media (max-width: 1200px) {
	#nav {
		display: block !important;
	}
	header a {
		margin: auto;
		padding-bottom: 15px;
	}
}