@charset "UTF-8";
@font-face {
  font-family: "Acme-Regular";
  font-style: normal;
  font-display: swap;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Acme-Regular"), url("/fonts/Acme-Regular.woff2") format("woff2"), url("/fonts/Acme-Regular.woff") format("woff"), url("/fonts/Acme-Regular.ttf") format("truetype");
  /*unicode-range: U+004D, U+0059, U+002D, U+0050, U+0052, U+004F, U+0047, U+0045, U+0053, U+002E, U+0055;*/
}

/* line 21, ../../../Documents/my-progress.ru/sass/main.scss */
header .nav-link.active {
  background-color: MediumSeaGreen !important;
  color: white !important;
}

/* line 24, ../../../Documents/my-progress.ru/sass/main.scss */
header .nav-link.active:hover {
  background-color: #4cc381 !important;
}

/* line 28, ../../../Documents/my-progress.ru/sass/main.scss */
header .nav-link {
  color: black;
}

/* line 30, ../../../Documents/my-progress.ru/sass/main.scss */
header .nav-link:hover {
  color: grey;
}

/* line 35, ../../../Documents/my-progress.ru/sass/main.scss */
footer {
  background-color: #DDD;
  color: black;
}

/* line 39, ../../../Documents/my-progress.ru/sass/main.scss */
body {
  background-color: #fafafa;
}

/*.smile {
    width: 1.6em;
}*/
/* line 45, ../../../Documents/my-progress.ru/sass/main.scss */
.main-title {
  font-family: "Acme-Regular", "Comic Sans MS", "Comic Sans", cursive;
  font-size: 1.6em;
  font-weight: bold;
  color: MediumSeaGreen;
  text-align: center;
}

/* line 55, ../../../Documents/my-progress.ru/sass/main.scss */
#logo {
  background-image: repeating-linear-gradient(90deg, MediumSeaGreen 20%, #94dbb4 40%);
  background-size: 200% auto;
  background-position: 0 100%;
  width: 100%;
  animation: gradient 7.5s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -200% 0;
  }
}

/* line 75, ../../../Documents/my-progress.ru/sass/main.scss */
#nav {
  text-align: right;
}

/* line 78, ../../../Documents/my-progress.ru/sass/main.scss */
#logreg {
  background-color: #1c8341;
  color: white !important;
}

/* line 81, ../../../Documents/my-progress.ru/sass/main.scss */
#logreg:hover {
  background-color: #229d4e;
}

/* line 85, ../../../Documents/my-progress.ru/sass/main.scss */
#break-logo {
  display: none;
}

/* line 88, ../../../Documents/my-progress.ru/sass/main.scss */
#vertical-logo {
  display: inline;
}

@media (max-width: 1200px) {
  /* line 92, ../../../Documents/my-progress.ru/sass/main.scss */
  #nav {
    display: block !important;
  }
  /* line 96, ../../../Documents/my-progress.ru/sass/main.scss */
  header a {
    margin: auto;
    padding-bottom: 15px;
  }
  /* line 101, ../../../Documents/my-progress.ru/sass/main.scss */
  #logo {
    animation: none !important;
  }
}

@media (max-width: 768px) {
  /* line 106, ../../../Documents/my-progress.ru/sass/main.scss */
  #nav {
    text-align: center;
  }
  /* line 109, ../../../Documents/my-progress.ru/sass/main.scss */
  .nav-item {
    margin-bottom: 10px;
  }
  /* line 112, ../../../Documents/my-progress.ru/sass/main.scss */
  .nav-link {
    font-size: 1.1em;
    margin: auto;
  }
  /* line 116, ../../../Documents/my-progress.ru/sass/main.scss */
  .main-title {
    font-size: 26px;
  }
  /*header {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}*/
}

@media (max-width: 600px) {
  /* line 125, ../../../Documents/my-progress.ru/sass/main.scss */
  .nav-link {
    width: 50vw !important;
  }
  /* line 128, ../../../Documents/my-progress.ru/sass/main.scss */
  #vertical-logo {
    display: none;
  }
  /* line 131, ../../../Documents/my-progress.ru/sass/main.scss */
  #break-logo {
    display: inline;
  }
  /* line 134, ../../../Documents/my-progress.ru/sass/main.scss */
  .main-title {
    padding-bottom: 20px;
    font-size: 28px;
  }
}

@media (max-width: 350px) {
  /* line 140, ../../../Documents/my-progress.ru/sass/main.scss */
  .nav-link {
    width: 80vw !important;
  }
}

/*# sourceMappingURL=main.css.map */